@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(slider.css);

:root {
  --main-bg: #f4f6fa;
  --bg-container: #fff;
  --shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  --btn-bg: #a729f5;

  --small-bg: #f4f6fa;
  --text-sm: #626c7f;

  --text-main: #313e51;
  --text-secondary: #626c7f;
  --bg-image-s: url('./assets/pattern-background-mobile-light.svg');
  --bg-image-m: url('./assets/pattern-background-tablet-light.svg');

  --sun: url('./assets/icon-sun-dark.svg');
  --moon: url('./assets/icon-moon-dark.svg');
}

[data-theme='dark'] {
  --main-bg: #313e51;
  --bg-container: #3b4d66;
  --shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);

  --small-bg: #fff;
  /* --text-sm: #fff; */

  --text-main: #fff;
  --text-secondary: #abc1e1;

  --bg-image-s: url('./assets/pattern-background-mobile-dark.svg');
  --bg-image-m: url('./assets/pattern-background-tablet-dark.svg');

  --sun: url('./assets/icon-sun-light.svg');
  --moon: url('./assets/icon-moon-light.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
  font-family: 'Rubik', sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  background: var(--bg-image-s);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.app {
  padding: 16px 24px;
  max-width: calc(1154px);
}

header {
  margin-bottom: 58px;
  width: 100%;
}

.header-alone {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.sun {
  width: 16px;
  height: 16px;
  background-image: var(--sun);
  background-size: cover;
}

.moon {
  width: 16px;
  height: 16px;
  background-image: var(--moon);
  background-size: cover;
}

/* Content */

/* STARTING SCREEN */

.starting-screen-info {
  color: var(--text-main);
  margin-bottom: 40px;
}

.starting-screen-info h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 40px */
  margin-bottom: 16px;
}
.starting-screen-info span {
  font-weight: 500;
}

.starting-screen-info p {
  font-style: italic;
  color: var(--text-secondary);
}

.subjects__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subject__container {
  width: 100%;
  padding: 12px;
  background-color: var(--bg-container);
  border-radius: 12px;
}

.type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.type-box img {
  width: 28px;
  height: 28px;
}

.subject__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-main);
  box-shadow: var(--shadow);
}

/* QUESTION */

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question-info {
  margin-bottom: 40px;
  width: 100%;
}

.question-number {
  font-size: 14px;
  line-height: 150%;
  color: var(--text-secondary);
  margin-bottom: 12px;
  font-style: italic;
}

.question-title {
  font-size: 20px;
  color: var(--text-main);
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}

/* OPTIONS */
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.options .type-box {
  background-color: var(--small-bg);
  color: var(--text-sm);
  font-weight: 500;
}

.option {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 64px;
  font-size: 18px;
  gap: 16px;
  justify-content: space-between;
}

.option p {
  font-weight: 500;
  color: var(--text-main);
}

.type-box.active-box {
  background-color: #a729f5;
  color: white;
}

.button {
  width: 100%;
  background-color: #a729f5;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  padding: 18px 0;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.option.correct {
  border-color: #26d782;
}

.option.incorrect {
  border-color: #ee5454;
}

.type-box.correct-box {
  background-color: #26d782;
  color: white;
}

.type-box.incorrect-box {
  background-color: #ee5454;
  color: white;
}

.border-selected {
  outline: 2px solid #a729f5;
}

.active-box {
  background-color: #f0f0f0;
}

.error-message {
  color: #ee5454;
  margin-top: 10px;
}

.correct {
  outline-color: #26d782;
}

.incorrect {
  border-color: #ee5454;
}

/* Finish game  */
.endGame h1 {
  font-size: 40px;
  color: var(--text-main);
  font-weight: 300;
}

.endGame h1 span {
  font-weight: 500;
}

.end-container {
  background-color: var(--bg-container);
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  border-radius: 24px;
  box-shadow: var(--shadow);
  margin-bottom: 32px;
}

.scores {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.score {
  font-size: 88px;
  font-weight: 500;
  color: var(--text-main);
}

.maxscore {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-secondary);
  text-align: center;
}

/* Responsives */
@media (min-width: 768px) {
  #root {
    background-image: var(--bg-image-m);
    background-size: auto;
  }

  .header-alone,
  header.header {
    padding-top: 57px;
    margin-bottom: 50px;
  }

  .app {
    padding: 0 64px;
  }

  .starting-screen-info {
    margin-bottom: 64px;
  }

  .starting-screen-info h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }

  .starting-screen-info p {
    font-family: Rubik;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }

  .subjects__container {
    gap: 24px;
  }

  .left {
    gap: 32px;
  }

  .subject-title {
    font-size: 28px;
  }

  .question-number {
    font-size: 20px;
    margin: 0 0 27px;
  }

  .question-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .question-info {
    margin-bottom: 64px;
  }

  .options {
    gap: 24px;
    margin-bottom: 32px;
  }

  .button {
    font-size: 28px;
    font-weight: 500;
  }

  .endGame h1 {
    display: flex;
    flex-direction: column;
    font-size: 66px;
  }

  .score {
    font-size: 144px;
  }

  .maxscore {
    font-size: 24px;
  }
  .sun,
  .moon {
    width: 24px;
    height: 24px;
  }

  .right {
    gap: 16px;
  }
}
